/* 

    RESET

*/

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/*

    BODY

*/

body{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.my-row{
    display: flex;
    align-items: center;
}

*{
    font-family: 'Open Sans', sans-serif;
}

/*

BUTTONS

*/

button{
    border: none;
    text-align: center;
    border-radius: 15% / 50%;
    height: 60px;
}

.mac-download{
    background-color: white;
    width: 150px;
    font-size: 16px;
}

.browser-link{
    background-color: #23272A;
    color: white;
    width: 220px;
    font-size: 16px;
}

.sign-up{
    background-color: #8EA1E1;
    color: white;
    height: 40px;
    width: 100px;
    font-size: 12px;
}

.login-button{
    background-color: white;
    height: 30px;
    width: 80px;
    font-size: 12px;
}


/*

    HEADER

*/

.header-top{
    background-color: #3161E0;
}

.logo{
    width: 25%;
    text-align: start;
}

.link-section{
    display: inline-block;
    width: 50%;
    text-align: center;
}

.link-section>ul>li{
    display: inline-block;
}

ul>li{
    list-style-type: none;
}

a{
    padding-right: 20px;
    text-decoration: none;
    color: white;
}

.login{
    width: 25%;
    text-align: right;
}

.header-bottom{
    display: flex;
    align-items: center;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.download-panel{
    width: 60%;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}

.download-flexbox{
    display: flex;
    justify-content: space-around;
    width: 400px;
}


/*

    MAIN

*/

.columns-blue{
    width: 60%;
}

.columns-pink{
    width: 40%;
    text-align: left;
    padding: 0 10%;
}

.img-slot{
    
    width: 100%;
    text-align: center;
}

main>section:nth-of-type(even){
    background-color: #D3D3D3;
}

.three{
    flex-wrap: wrap;
}

/*

    FOOTER

*/
.footer{
    background-color: #23272A;
}

.footer-top{
    background-color: #23272A;
    padding-top: 10px;
}

.footer-bottom{
    background-color: #23272A;
    display: flex;
    align-items: end;
}

.columns-salmon{
    width: 40%;
    color:white;
}

hr{
    width: 100%;
}


.four{
    width: 60%;
}

.columns-green{
    color: white;
    width: 25%;
}

.five{
    justify-content: space-between;
    align-items: center;
    width: 100%;
}





/*

    DEBUG

*/

i{
    font-size: 30px;
}

.debug .header-top,
.debug .nav-bar{

    height: 100px;
}

.debug .header-bottom{
    background-color: #00008B;
    height: 500px;
}



.debug .main{
    background-color: #FFFFFF;
}



.debug .two{
    height: 800px;
}





.debug .footer-bottom{
    height: 100px;
}

.debug .five{
    height: 75px;
}
















